.App {
  text-align: center;
}

.bp3-button {
  margin-left: 5px;
  margin-right: 5px;
}

.bp3-card {
  margin: 10px;
  /* width: 100%; */
}

.bp3-switch {
  margin: 5px;
}

#mainContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100vw;
}

.codeTab {
  overflow: auto !important;
  max-height: 500px;
  max-width: calc(100vw - 250px);
}
/* 
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
} */